.form {
  width: 300px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 8px;
  &:focus {
    border-color: lightcoral;
  }
}

.button {
  color: white;
  background-color: lightcoral;
  border: none;
  border-radius: 8px;
  transition: 250ms;
  &:focus,
  &:hover {
    background-color: rgb(227, 99, 99);
  }
}
